.all_screen {
    width: 100%;
    height: 100%;
}



#global_map {
    .all_screen;
    .map-controller {
        width: 100%;
        position: absolute;
    }
    .position-card {
        position: absolute;
        right: 100px;
        top: 200px;
    }

    .pane {
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .mask {
            background: rgba(128, 128, 128, .6);
            width: 100%;
            height: 100%;
            position: absolute;
        }

        & > div {
            width: 100%;
            .ant-col-16{
                min-width: 400px;
                min-height: 600px;
            }
        }

        .ant-tabs-nav .ant-tabs-tab {
            height: inherit;
        }
    }
}

